<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <style>
        body {
          background-image: url('https://lh3.googleusercontent.com/proxy/kQvXLu9wza8wJteXR4NtMkTiurYIENgCiLjXPTwT56u4HPc7RQXJyEoLbCnVZJmH16TCFDE6re0hOFXveYXFoFAfd3Rd_C2b972X_lNpswk95qpuQ_dVGemhjYslGe51nj4N4oA');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
          
        }
        </style>


    {% block style %}
    {% endblock style %}
</head>

<body>
    {% block content %}

    
    {% endblock content %}
     
    <ul>
        <li>
            <form class="btn" action="{% url 'dummy:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Logout</button>
            </form>
        </li>
    </ul>

   
    {% block javascript %}
    {% endblock javascript %}
</body>

</html>